

<div class="page-header">
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
            <h5 class="text-uppercase">Add Subject</h5>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-12">
            <ul class="list-inline breadcrumb float-right">
                <li class="list-inline-item"><a href="index.html">Home</a></li>
                <li class="list-inline-item"><a href="index.html">Teacher</a></li>
                <li class="list-inline-item"> Add Subject</li>
            </ul>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="page-title">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-title">basic information</div>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <form action="~/Home/addSubject" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">

                                <div class="form-group custom-mt-form-group">
                                    <input type="text" name="subjectTitle" id="subjectTitle" />
                                    <label class="control-label">Enter Subject</label><i class="bar"></i>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group custom-mt-form-group">
                                    @Html.DropDownList("questionClass")
                                    <label class="control-label">Class</label><i class="bar"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group custom-mt-form-group">
                                    <button class="btn btn-primary mr-2" type="submit" value="Add">Submit</button>


                                    <button class="btn btn-secondary" type="reset" value="Cancel">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
